/*Farben deklarienen*/
:root {
    --white: #FFF;
    --black: #000;

    --primary: #00FFFF;
    --secondary: #FF0080;
    --c3: #57ADE6;
    --c4: #C957E6;
    --c5: #6B64CC;
}


@media (min-width: 400px) {

    /*---------------root--------------*/
    html {}

    body {}


    /*---------------headlines--------------*/

    h1 {}

    h2 {}

    h3 {}

    h4 {}

    h5 {}

    h6 {}

    /*---------------paragraph----------------*/

    p {}

    /*-----------------table-----------------------------*/

    table {
        box-sizing: border-box;
        width: 100%;
        height: auto;

    }

    tr {}

    tr:nth-child(even) {
        background-color: whitesmoke;
    }

    th {
        text-align: center;
        background-color: lightgray;
    }

    td {
        text-align: center;
    }



    /*--------------list---------------*/

    ul {}

    li {}

    /*--------------footer/header--------------*/

    footer {}

    header {}

    /*--------------semantics------------------*/

    main {}

    nav {}

    article {}


    aside {}

    details {}

    figcaption {}

    figure {}



    mark {}


    section {}

    summary {}

    time {}

<<<<<<< HEAD
    section {

    }

    summary {

    }

    time {

    }
    
    /*------------etc--------------*/
=======
>>>>>>> f7996b3ed0b7ee58cd5cbf242c120e4f927444ef


   

}

@media (min-width: 1200px) {

    /*---------------root--------------*/
    html {}

    body {}


    /*---------------headlines--------------*/

    h1 {}

    h2 {}

    h3 {}

    h4 {}

    h5 {}

    h6 {}

    /*---------------paragraph----------------*/

    p {}

    /*-----------------table-----------------------------*/

    table {}

    tr {}

    th {}

    /*--------------list---------------*/

    ul {}

    li {}

    /*--------------footer/header--------------*/

    footer {}

    header {}

    /*--------------semantics------------------*/

    main {}

    nav {}

    article {}


    aside {}

    details {}

    figcaption {}

    figure {}



    mark {}


    section {}

    summary {}

    time {}



<<<<<<< HEAD
    summary {

    }

    time {

    }

    /*---------etc---------*/

    .logo{

    }
}

=======
}
>>>>>>> f7996b3ed0b7ee58cd5cbf242c120e4f927444ef
