@font-face {
    font-family: Ueberschrift;
    src: url(../Fonts/Universal/Universal\ Serif.ttf);
}

@font-face {
    font-family: Grundschrift;
    src: url(../Fonts/analogue/TrueType/AnalogueRed-55Regular.ttf);
}

h1, h2,h3,h4,h5,h6 {
    font-family: Ueberschrift;

}

p {
    font-family: Grundschrift;
}
