.content1 {
    background-image: url("../assets/bg-01.jpg");
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 10rem;
}


.content2 {
    background-color: white;
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.content3 {
    background-image: url("../assets/bg-04.svg");
    
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 10rem;
}